@font-face {
  font-family: 'Anonymous Pro';
  src: url('fonts/anonymouspro.eot') format('eot');
  src: local('Anonymous Pro'), local('AnonymousPro'), url('fonts/anonymouspro.woff') format('woff');
}
html, body, ul, li { margin: 0; padding: 0; border: 0; }
html { background: #DDD; }
body { font: normal 15px/1.4 Arial, sans-serif; color: #000; }
#header { background: #EEE; padding: 30px 40px 10px; text-align: center; }
#footer { background: #DDD; padding: 10px 40px; }
#body { background: #FFF; padding: 10px 40px 20px; }
h1 { font-size: 144%; font-weight: normal; margin: 10px 0 10px; padding: 0; }
p { margin: 10px 0; }
a { color: #380; text-decoration: none; }
a:hover { color: #491; text-decoration: underline; }
a img { border: 0; }
ul { list-style: none; }
li { padding-left: 30px; background: url(img/lambdot.png) 0 5px no-repeat; }
li em { font-style: italic; }
.code { font: bold 90% 'Anonymous Pro', monospace; color: #555; }
